.Instructions {
    color: white;
    font-size: 60px;
    font-weight: 700;
    line-height: 150%;
    padding-top: 100px;
    padding-bottom: 400px;
}

.Instructions > img {
    width: 250px;
    margin-bottom: -20px;
}

.InstructionsBottom {
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-size: 100px;
    font-weight: 700;
    line-height: 200%;

    /* padding-top: 400px; */
    /* padding-bottom: 320px; */
    height: 900px;
}


@keyframes moving {
    from {
        transform: translateX(25px);
    }

    to {
        transform: translateX(-25px);
    }    
}

@keyframes moving2 {
    from {
        transform: translateX(0px);
    }

    to {
        transform: translateX(50px);
    }    
}

.Arrow {
    font-size: 90px; 
    animation: moving 0.8s ease-in-out 0s infinite alternate both;
}

.ArrowSwipe {
    margin-left: 30px;
    margin-top: 5px;
    animation: moving2 0.8s ease-in-out 0s infinite alternate both;
}